[submodule "cpp_dependencies/oboe"]
	path = cpp_dependencies/oboe
	url = git@github.com:google/oboe.git
[submodule "cpp_dependencies/libsndfile"]
	path = cpp_dependencies/libsndfile
	url = git@github.com:erikd/libsndfile.git
[submodule "cpp_dependencies/ThreadPool"]
	path = cpp_dependencies/ThreadPool
	url = git@github.com:progschj/ThreadPool.git
